@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Tela de Cadastro</h1>
    <p>Para realizar um novo cadastro clique na aba "Usuários"</a>.</p>
</div>
<div class="text-center">
    <h5>
        Para realizar a atividade solicitada foram usados os seguintes Pacotes do Visual Studio:
    </h5>
    <ol>
        <li>Microsoft.EntityFrameworkCore</li>
        <li>Microsoft.EntityFrameworkCore.Design</li>
        <li>MySql.Data.EntityFramework</li>
        <li>MySql.Data.EntityFrameworkCore</li>
    </ol>
</div>
